.DS_Store
CIS_Automotive_Kaggle_Sample.csv
venv/
.env
.env.secrets
.env.variables

# Go Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace files
go.work
go.work.sum

# Proto files
*.pb.go

# Cloud Proxy
cloud-sql-proxy
proxy.log

.env.secrets
gcp-sa-key.json
.env.variables
deploy/k8s/gke_gcloud_auth_plugin_cache
