.DS_Store
code/setup/data/*.csv
venv/
env
*.csv

# Go Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace files
go.work
go.work.sum

# Proto files
*.pb.go

# Cloud Proxy
cloud-sql-proxy
proxy.log