openapi: 3.0.3
info:
  title: Kloud Motors - Online Car Dealer
  version: 1.0.0
  description: |
    - **Market Price Analysis**: Calculate the average price of cars based on brand, model, year, and location.
    - **Filtered Search**: Allow users to search for cars based on specific criteria(make, model, year, price range, mileage, fuel type, location).
    - **Geographical Market Insights**: Analyze car availability and price variations across different regions.
    - **Seller Management & Profiling**: Distinguish between professional dealers and private sellers.
    - **Buyer–Seller Communication**: Enable real-time messaging between the buyer and the seller of a specific listing.
    - **Visitor & User Registration**: Track and register platform visitors, registered users can save favourite listings.
    - **Auction Module**: Allow sellers to list cars under an auction format.
    - **Listing details and comparison**: Provide detailed information on each listing and allow users to compare multiple listings side by side based on price, mileage, year and location.
tags:
- name: Health
  description: Gateway health endpoint
- name: Observability
  description: Gateway metrics endpoint
- name: Chat
  description: Buyer-Seller communication endpoints
- name: Geographical Market Insights
  description: Geographical market insights and listing aggregation
- name: Market Price Analysis
  description: Endpoints for average car prices
- name: Auction
  description: Endpoints for car auction listings
- name: Users
  description: User profiles and favorite listings
- name: Sellers
  description: Seller management and profiling
- name: Listings
  description: Filtered car search and listing comparison
servers:
  - url: https://kloud-motors.com
paths:
  "/api/user/login":
    post:
      tags:
      - Users
      summary: Authenticate a user with email and password
      description: |
        Exchanges an email and password for a Firebase ID token through the
        Kloud Motors gateway. The Firebase API key remains server-side.
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AuthRequest"
            example:
              email: seller7514@mock.local
              password: password123
      responses:
        '200':
          description: User authentication token response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/user/register":
    post:
      tags:
      - Users
      summary: Register a user with email and password
      description: |
        Creates a Firebase Auth user and returns tokens plus the internal
        Kloud Motors user id.
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AuthRequest"
            example:
              email: new-seller@example.com
              password: password123
      responses:
        '200':
          description: User registration token response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '409':
          "$ref": "#/components/responses/ConflictText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/user/refresh":
    post:
      tags:
      - Users
      summary: Refresh a Firebase ID token
      description: |
        Exchanges a Firebase refresh token for a new ID token through the
        Kloud Motors gateway. The Firebase API key remains server-side.
      operationId: refreshUserToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RefreshTokenRequest"
            example:
              refresh_token: refresh-token-value
      responses:
        '200':
          description: Refreshed authentication token response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/health":
    get:
      tags:
      - Health
      summary: Health check
      operationId: getHealth
      responses:
        '200':
          description: Gateway is healthy.
          content:
            text/plain:
              schema:
                type: string
                example: OK
  "/metrics":
    get:
      tags:
      - Observability
      summary: Prometheus metrics
      operationId: getMetrics
      responses:
        '200':
          description: Prometheus metrics payload.
          content:
            text/plain:
              schema:
                type: string
  "/api/chat":
    get:
      tags:
      - Chat
      summary: Get user chats
      operationId: getChats
      security:
      - bearerAuth: []
      responses:
        '200':
          description: User chats.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetChatsResponse"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/chat/open":
    post:
      tags:
      - Chat
      summary: Open or create a buyer-seller chat session
      operationId: openChat
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OpenChatRequest"
      responses:
        '200':
          description: Chat session opened.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OpenChatResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '403':
          "$ref": "#/components/responses/ForbiddenText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/chat/{chat_id}":
    get:
      tags:
      - Chat
      summary: Get chat history
      operationId: getChatHistory
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ChatIdPath"
      responses:
        '200':
          description: Chat history.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetChatHistoryResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '403':
          "$ref": "#/components/responses/ForbiddenText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/chat/ws/{chat_id}":
    get:
      tags:
      - Chat
      summary: Chat WebSocket proxy
      operationId: connectChatWebSocket
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ChatIdPath"
      responses:
        '101':
          description: Switching Protocols.
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/market/insights/aggregates":
    get:
      tags:
      - Geographical Market Insights
      summary: Get aggregated market insights
      operationId: getMarketInsightsAggregates
      parameters:
      - "$ref": "#/components/parameters/BrandQueryRequired"
      - "$ref": "#/components/parameters/ModelQueryRequired"
      - "$ref": "#/components/parameters/MetricsQuery"
      - "$ref": "#/components/parameters/GroupByQuery"
      - "$ref": "#/components/parameters/LocationsQuery"
      - "$ref": "#/components/parameters/YearFromQuery"
      - "$ref": "#/components/parameters/YearToQuery"
      - "$ref": "#/components/parameters/FuelTypeSnakeQuery"
      - "$ref": "#/components/parameters/LimitQuery"
      - "$ref": "#/components/parameters/SkipQuery"
      responses:
        '200':
          description: Aggregated market insights.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AggregatesResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/market/price-comparison":
    get:
      tags:
      - Geographical Market Insights
      summary: Compare prices across locations
      operationId: getPriceComparison
      parameters:
      - "$ref": "#/components/parameters/BrandQueryRequired"
      - "$ref": "#/components/parameters/ModelQueryRequired"
      - "$ref": "#/components/parameters/GroupByQuery"
      - "$ref": "#/components/parameters/SortByQuery"
      - "$ref": "#/components/parameters/OrderQuery"
      - "$ref": "#/components/parameters/LimitQuery"
      - "$ref": "#/components/parameters/SkipQuery"
      responses:
        '200':
          description: Price comparison.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PriceComparisonResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/listings/stats/by-location":
    get:
      tags:
      - Geographical Market Insights
      summary: Get listing price statistics by location
      operationId: getListingStatsByLocation
      parameters:
      - "$ref": "#/components/parameters/BrandQueryRequired"
      - "$ref": "#/components/parameters/ModelQueryRequired"
      - "$ref": "#/components/parameters/LocationQuery"
      - "$ref": "#/components/parameters/YearFromQuery"
      - "$ref": "#/components/parameters/YearToQuery"
      - "$ref": "#/components/parameters/FuelTypeSnakeQuery"
      responses:
        '200':
          description: Listing statistics.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ByLocationResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/market/average-price":
    get:
      tags:
      - Market Price Analysis
      summary: Get average market price
      operationId: getAverageMarketPrice
      parameters:
      - "$ref": "#/components/parameters/BrandQueryRequired"
      - "$ref": "#/components/parameters/ModelQueryRequired"
      - "$ref": "#/components/parameters/YearFromQuery"
      - "$ref": "#/components/parameters/YearToQuery"
      responses:
        '200':
          description: Average market price.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AveragePriceResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/auctions":
    get:
      tags:
      - Auction
      summary: List auctions
      operationId: listAuctions
      parameters:
      - "$ref": "#/components/parameters/AuctionStatusQuery"
      - "$ref": "#/components/parameters/PageQuery"
      - "$ref": "#/components/parameters/PageSizeSnakeQuery"
      responses:
        '200':
          description: Auctions.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListAuctionsResponse"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
    post:
      tags:
      - Auction
      summary: Create an auction
      operationId: createAuction
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAuctionRequest"
      responses:
        '201':
          description: Auction created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateAuctionResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '403':
          "$ref": "#/components/responses/ForbiddenText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '409':
          "$ref": "#/components/responses/ConflictText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/auctions/{auction_id}":
    get:
      tags:
      - Auction
      summary: Get auction details
      operationId: getAuction
      parameters:
      - "$ref": "#/components/parameters/AuctionIdPath"
      responses:
        '200':
          description: Auction details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAuctionResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
    delete:
      tags:
      - Auction
      summary: Delete an auction
      operationId: deleteAuction
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/AuctionIdPath"
      responses:
        '204':
          description: Auction deleted.
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '403':
          "$ref": "#/components/responses/ForbiddenText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/auctions/{auction_id}/bid":
    post:
      tags:
      - Auction
      summary: Place a bid
      operationId: placeBid
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/AuctionIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PlaceBidRequest"
      responses:
        '200':
          description: Bid placed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlaceBidResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/auctions/{auction_id}/bids":
    get:
      tags:
      - Auction
      summary: Get auction bids
      operationId: getAuctionBids
      parameters:
      - "$ref": "#/components/parameters/AuctionIdPath"
      - "$ref": "#/components/parameters/PageQuery"
      - "$ref": "#/components/parameters/PageSizeSnakeQuery"
      responses:
        '200':
          description: Auction bids.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAuctionBidsResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/auctions/ws/{auction_id}":
    get:
      tags:
      - Auction
      summary: Auction WebSocket proxy
      operationId: connectAuctionWebSocket
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/AuctionIdPath"
      responses:
        '101':
          description: Switching Protocols.
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/users/me/favorites":
    get:
      tags:
      - Users
      summary: Get the authenticated user's favorite listing IDs
      operationId: getFavoriteListings
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Favorite listing IDs.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FavoritesResponse"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/users/me/favorites/{listing_id}":
    post:
      tags:
      - Users
      summary: Add a listing to favorites
      operationId: addFavoriteListing
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ListingIdPath"
      responses:
        '200':
          description: Mutation result.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FavoriteMutationResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '409':
          "$ref": "#/components/responses/ConflictText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
    delete:
      tags:
      - Users
      summary: Remove a listing from favorites
      operationId: removeFavoriteListing
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ListingIdPath"
      responses:
        '200':
          description: Mutation result.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FavoriteMutationResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/users/preview":
    post:
      tags:
      - Users
      summary: Get user previews
      operationId: getUsersPreview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UsersPreviewRequest"
      responses:
        '200':
          description: User previews.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UsersPreviewResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/sellers/{seller_id}":
    get:
      tags:
      - Sellers
      summary: Get seller profile
      operationId: getSellerProfile
      parameters:
      - "$ref": "#/components/parameters/SellerIdPath"
      responses:
        '200':
          description: Seller profile.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerProfileResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/sellers/preview":
    post:
      tags:
      - Sellers
      summary: Get seller previews
      operationId: getSellersPreview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SellersPreviewRequest"
      responses:
        '200':
          description: Seller previews.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellersPreviewResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/listings":
    get:
      tags:
      - Listings
      summary: Get listings
      operationId: getListings
      parameters:
      - "$ref": "#/components/parameters/PageQuery"
      - "$ref": "#/components/parameters/PageSizeCamelQuery"
      - "$ref": "#/components/parameters/IncludeSoldQuery"
      responses:
        '200':
          description: Listings.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
    post:
      tags:
      - Listings
      summary: Create a listing
      operationId: createListing
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateListingRequest"
      responses:
        '201':
          description: Listing created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingDetailsResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '409':
          "$ref": "#/components/responses/ConflictText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/listings/search":
    get:
      tags:
      - Listings
      summary: Search listings
      operationId: searchCars
      parameters:
      - "$ref": "#/components/parameters/MakeQuery"
      - "$ref": "#/components/parameters/ModelQuery"
      - "$ref": "#/components/parameters/YearQuery"
      - "$ref": "#/components/parameters/MinPriceQuery"
      - "$ref": "#/components/parameters/MaxPriceQuery"
      - "$ref": "#/components/parameters/MaxMileageQuery"
      - "$ref": "#/components/parameters/FuelTypeCamelQuery"
      - "$ref": "#/components/parameters/PageQuery"
      - "$ref": "#/components/parameters/PageSizeCamelQuery"
      - "$ref": "#/components/parameters/IncludeSoldQuery"
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/listings/compare":
    get:
      tags:
      - Listings
      summary: Compare listings
      operationId: compareListings
      parameters:
      - "$ref": "#/components/parameters/IdsQuery"
      responses:
        '200':
          description: Listing comparison.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompareListingsResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
  "/api/listings/{id}":
    get:
      tags:
      - Listings
      summary: Get listing details
      operationId: getCarById
      parameters:
      - "$ref": "#/components/parameters/ListingIdPlainPath"
      responses:
        '200':
          description: Listing details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingDetailsResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
    put:
      tags:
      - Listings
      summary: Update a listing
      operationId: updateListing
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ListingIdPlainPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateListingRequest"
      responses:
        '200':
          description: Listing updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListingDetailsResponse"
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '409':
          "$ref": "#/components/responses/ConflictText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
    delete:
      tags:
      - Listings
      summary: Delete a listing
      operationId: deleteListing
      security:
      - bearerAuth: []
      parameters:
      - "$ref": "#/components/parameters/ListingIdPlainPath"
      responses:
        '204':
          description: Listing deleted.
        '400':
          "$ref": "#/components/responses/BadRequestText"
        '401':
          "$ref": "#/components/responses/UnauthorizedText"
        '404':
          "$ref": "#/components/responses/NotFoundText"
        '405':
          "$ref": "#/components/responses/MethodNotAllowedText"
        '500':
          "$ref": "#/components/responses/InternalServerErrorText"
        '502':
          "$ref": "#/components/responses/BadGatewayText"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Firebase ID token
  parameters:
    AuctionIdPath:
      name: auction_id
      in: path
      required: true
      schema:
        type: string
    ChatIdPath:
      name: chat_id
      in: path
      required: true
      schema:
        type: string
    ListingIdPath:
      name: listing_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ListingIdPlainPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    SellerIdPath:
      name: seller_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    AuctionStatusQuery:
      name: status
      in: query
      required: false
      schema:
        type: string
    BrandQuery:
      name: brand
      in: query
      required: false
      schema:
        type: string
    BrandQueryRequired:
      name: brand
      in: query
      required: true
      schema:
        type: string
    FuelTypeCamelQuery:
      name: fuelType
      in: query
      required: false
      schema:
        type: string
    FuelTypeSnakeQuery:
      name: fuel_type
      in: query
      required: false
      schema:
        type: string
    GroupByQuery:
      name: group_by
      in: query
      required: false
      schema:
        type: string
        enum:
        - district
        - city
        - country
        default: district
    IdsQuery:
      name: ids
      in: query
      required: true
      description: Comma-separated listing IDs. Invalid numbers are parsed as 0 by
        the gateway.
      schema:
        type: string
        example: 123
    IncludeSoldQuery:
      name: includeSold
      in: query
      required: false
      schema:
        type: boolean
    LimitQuery:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        format: int32
    LocationQuery:
      name: location
      in: query
      required: false
      schema:
        type: string
    LocationsQuery:
      name: locations
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    MakeQuery:
      name: make
      in: query
      required: false
      schema:
        type: string
    MaxMileageQuery:
      name: maxMileage
      in: query
      required: false
      schema:
        type: integer
        format: int32
    MaxPriceQuery:
      name: maxPrice
      in: query
      required: false
      schema:
        type: integer
        format: int64
    MetricsQuery:
      name: metrics
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
          - avg_price
          - median_price
          - count
    MinPriceQuery:
      name: minPrice
      in: query
      required: false
      schema:
        type: integer
        format: int64
    ModelQuery:
      name: model
      in: query
      required: false
      schema:
        type: string
    ModelQueryRequired:
      name: model
      in: query
      required: true
      schema:
        type: string
    OrderQuery:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
    PageQuery:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 1
    PageSizeCamelQuery:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 20
    PageSizeSnakeQuery:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 20
    SkipQuery:
      name: skip
      in: query
      required: false
      schema:
        type: integer
        format: int32
    SortByQuery:
      name: sort_by
      in: query
      required: false
      schema:
        type: string
        enum:
        - avg_price
        - count
    YearQuery:
      name: year
      in: query
      required: false
      schema:
        type: integer
        format: int32
    YearFromQuery:
      name: year_from
      in: query
      required: false
      schema:
        type: integer
        format: int32
    YearToQuery:
      name: year_to
      in: query
      required: false
      schema:
        type: integer
        format: int32
  responses:
    BadGatewayText:
      description: Upstream service is unavailable or could not be reached.
      content:
        text/plain:
          schema:
            type: string
    BadRequestText:
      description: Bad request.
      content:
        text/plain:
          schema:
            type: string
    ConflictText:
      description: Conflict.
      content:
        text/plain:
          schema:
            type: string
    ForbiddenText:
      description: Forbidden.
      content:
        text/plain:
          schema:
            type: string
    InternalServerErrorText:
      description: Internal server error.
      content:
        text/plain:
          schema:
            type: string
    MethodNotAllowedText:
      description: Method not allowed.
      content:
        text/plain:
          schema:
            type: string
            example: Method not allowed
    NotFoundText:
      description: Not found.
      content:
        text/plain:
          schema:
            type: string
            example: Not found
    UnauthorizedText:
      description: Unauthorized.
      content:
        text/plain:
          schema:
            type: string
            example: Unauthorized
  schemas:
    Aggregates:
      type: object
      properties:
        location:
          type: string
        avg_price:
          type: integer
          format: int32
        median_price:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
    AggregatesResponse:
      type: object
      properties:
        aggregates:
          type: array
          items:
            "$ref": "#/components/schemas/Aggregates"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Auction:
      type: object
      properties:
        auction_id:
          type: string
        listing_id:
          type: integer
          format: int64
        seller_id:
          type: integer
          format: int64
        starting_price:
          type: number
          format: double
        current_price:
          type: number
          format: double
          nullable: true
        status:
          type: string
        end_time:
          type: string
        winner_user_id:
          type: string
          nullable: true
        created_at:
          type: string
        reserve_met:
          type: boolean
        total_bids:
          type: integer
          format: int32
    AveragePriceResponse:
      type: object
      properties:
        brand:
          type: string
        model:
          type: string
        average_price:
          type: number
          format: double
        min_price:
          type: number
          format: double
        max_price:
          type: number
          format: double
        listing_count:
          type: integer
          format: int32
    Bid:
      type: object
      properties:
        bid_id:
          type: string
        auction_id:
          type: string
        bidder_id:
          type: string
        bid_amount:
          type: number
          format: double
        timestamp:
          type: string
    ByLocationResponse:
      type: object
      properties:
        stats:
          "$ref": "#/components/schemas/Stats"
    ChatMessage:
      type: object
      properties:
        sender_id:
          type: integer
          format: int64
        content:
          type: string
        timestamp:
          type: integer
          format: int64
    ChatsSummary:
      type: object
      properties:
        chat_id:
          type: string
        listing_id:
          type: integer
          format: int64
        brand:
          type: string
        model:
          type: string
    Comparisons:
      type: object
      properties:
        location:
          type: string
        average_price:
          type: integer
          format: int32
        listing_count:
          type: integer
          format: int32
    CompareListingsResponse:
      type: object
      properties:
        listings:
          type: array
          items:
            "$ref": "#/components/schemas/ListingDetailsResponse"
    CreateAuctionRequest:
      type: object
      properties:
        listing_id:
          type: integer
          format: int64
        seller_id:
          type: integer
          format: int64
          readOnly: true
          description: Overwritten from the authenticated user by the gateway.
        starting_price:
          type: number
          format: double
        end_time:
          type: string
        reserve_price:
          type: number
          format: double
          nullable: true
    CreateAuctionResponse:
      type: object
      properties:
        auction:
          "$ref": "#/components/schemas/Auction"
    CreateListingRequest:
      type: object
      properties:
        vin:
          type: string
        make:
          type: string
        model:
          type: string
        year:
          type: integer
          format: int32
        price:
          type: number
          format: double
        mileage:
          type: integer
          format: int32
        city:
          type: string
        district:
          type: string
        state:
          type: string
        country:
          type: string
        fuel_type:
          type: string
        body_class:
          type: string
        drive_type:
          type: string
        transmission:
          type: string
        trim:
          type: string
        color:
          type: string
        seller_id:
          type: integer
          format: int64
          readOnly: true
          description: Overwritten from the authenticated user by the gateway.
        is_new:
          type: boolean
        is_sold:
          type: boolean
    FavoriteMutationResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    FavoritesResponse:
      type: object
      properties:
        favorites:
          type: array
          items:
            type: integer
            format: int64
    AuthRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    RefreshTokenRequest:
      type: object
      required:
      - refresh_token
      properties:
        refresh_token:
          type: string
          description: Firebase refresh token returned by login, register, or refresh.
    AuthResponse:
      type: object
      properties:
        id_token:
          type: string
          description: Firebase ID token to send as a Bearer token to protected API endpoints.
        email:
          type: string
          format: email
        refresh_token:
          type: string
        expires_in:
          type: string
          description: Token lifetime in seconds, returned as a string by Firebase.
        local_id:
          type: string
          description: Firebase user ID.
        user_id:
          type: integer
          format: int64
          description: Internal Kloud Motors user ID.
    GetAuctionBidsResponse:
      type: object
      properties:
        bids:
          type: array
          items:
            "$ref": "#/components/schemas/Bid"
        total:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        page_size:
          type: integer
          format: int32
    GetAuctionResponse:
      type: object
      properties:
        auction:
          "$ref": "#/components/schemas/Auction"
    GetChatHistoryResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            "$ref": "#/components/schemas/ChatMessage"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    GetChatsResponse:
      type: object
      properties:
        chats:
          type: array
          items:
            "$ref": "#/components/schemas/ChatsSummary"
    ListAuctionsResponse:
      type: object
      properties:
        auctions:
          type: array
          items:
            "$ref": "#/components/schemas/Auction"
        total:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        page_size:
          type: integer
          format: int32
    ListingDetailsResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        make:
          type: string
        model:
          type: string
        year:
          type: integer
          format: int32
        price:
          type: number
          format: double
        mileage:
          type: integer
          format: int32
        city:
          type: string
        district:
          type: string
        state:
          type: string
        country:
          type: string
        fuel_type:
          type: string
        trim:
          type: string
        transmission:
          type: string
        color:
          type: string
        seller_type:
          type: string
        description:
          type: string
        listed_at:
          type: string
        images:
          type: array
          items:
            type: string
        is_sold:
          type: boolean
    ListingSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        make:
          type: string
        model:
          type: string
        year:
          type: integer
          format: int32
        price:
          type: number
          format: float
        mileage:
          type: integer
          format: int32
        fuel_type:
          type: string
        body_class:
          type: string
        drive_type:
          type: string
        transmission:
          type: string
        is_new:
          type: boolean
        city:
          type: string
        district:
          type: string
        state:
          type: string
        country:
          type: string
        last_seen:
          type: string
        is_sold:
          type: boolean
        seller_id:
          type: integer
          format: int32
    OpenChatRequest:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          readOnly: true
          description: Overwritten from the authenticated user by the gateway.
        seller_id:
          type: integer
          format: int64
        listing_id:
          type: integer
          format: int64
    OpenChatResponse:
      type: object
      properties:
        chat_id:
          type: string
        is_chat_closed:
          type: boolean
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          format: int32
        skip:
          type: integer
          format: int32
        has_next:
          type: boolean
        next_skip:
          type: integer
          format: int32
          nullable: true
    PlaceBidRequest:
      type: object
      properties:
        auction_id:
          type: string
          readOnly: true
          description: Overwritten from the path by the gateway.
        bidder_id:
          type: string
          readOnly: true
          description: Overwritten from the authenticated user by the gateway.
        bid_amount:
          type: number
          format: double
    PlaceBidResponse:
      type: object
      properties:
        bid:
          "$ref": "#/components/schemas/Bid"
    PriceComparisonResponse:
      type: object
      properties:
        comparisons:
          type: array
          items:
            "$ref": "#/components/schemas/Comparisons"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    SearchResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        page_size:
          type: integer
          format: int32
        listings:
          type: array
          items:
            "$ref": "#/components/schemas/ListingSummary"
    SellerPreview:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    SellerProfileResponse:
      type: object
      properties:
        seller_id:
          type: integer
          format: int64
        name:
          type: string
        seller_type:
          type: string
        contact_info:
          type: string
        rating:
          type: number
          format: double
    SellersPreviewRequest:
      type: object
      properties:
        seller_ids:
          type: array
          items:
            type: integer
            format: int64
    SellersPreviewResponse:
      type: object
      properties:
        sellers:
          type: array
          items:
            "$ref": "#/components/schemas/SellerPreview"
    Stats:
      type: object
      properties:
        min_price:
          type: integer
          format: int32
        max_price:
          type: integer
          format: int32
        avg_price:
          type: integer
          format: int32
        median_price:
          type: integer
          format: int32
    UpdateListingRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
          description: Overwritten from the path by the gateway.
        vin:
          type: string
        make:
          type: string
        model:
          type: string
        year:
          type: integer
          format: int32
        price:
          type: number
          format: double
        mileage:
          type: integer
          format: int32
        city:
          type: string
        district:
          type: string
        state:
          type: string
        country:
          type: string
        fuel_type:
          type: string
        body_class:
          type: string
        drive_type:
          type: string
        transmission:
          type: string
        trim:
          type: string
        color:
          type: string
        seller_id:
          type: integer
          format: int64
          readOnly: true
          description: Overwritten from the authenticated user by the gateway.
        is_new:
          type: boolean
    UserPreview:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    UsersPreviewRequest:
      type: object
      properties:
        user_ids:
          type: array
          items:
            type: integer
            format: int64
    UsersPreviewResponse:
      type: object
      properties:
        users:
          type: array
          items:
            "$ref": "#/components/schemas/UserPreview"
